:root {
  --color-black-redbull: #000000;      /*   var(--color-black-redbull)    */
  --color-red-ferrari: #DC0000;        /*   var(--color-red-ferrari)      */
  --color-red-redLight: #FF0000;       /*   var(--color-red-redLight)     */
  --color-orange-mclaren: #FF8700;     /*   var(--color-orange-mclaren)   */
  --color-yellow-formula1: #FFD700;    /*   var(--color-yellow-formula1)  */
  --color-blue-mercedes: #00D2BE;      /*   var(--color-blue-mercedes)    */
  --color-green-greenLight: #00FF00;   /*   var(--color-green-greenLight) */
  --color-silver-alfaromeo: #9B8394;   /*   var(--color-silver-alfaromeo) */
  --color-white-greatness: #FFFFFF;    /*   var(--color-white-greatness)  */
}


body {
  background-color: var(--color-black-redbull)   ;
}

.bodyContainer {
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  min-height: 100vh; /* Ajusta la altura mínima del contenedor según la altura de la ventana (viewport) */
}

.overlayButton {
  position: absolute;
  bottom: 14.5%;
  left: 88.5%;
  transform: translateX(-50%);
  color: transparent; /* Hace que el texto sea transparente */
  padding: 10px 20px;
  font-size: 0.75vw;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  border-radius: 50px;
  cursor: pointer;
  z-index: 1;
  background-color: var(--color-red-redLight)  ;
  border: 3px solid var(--color-red-redLight)  ;
  box-shadow: 0px 0px 1.5vw var(--color-red-redLight)  ;
  animation: blink 0.55s 9 alternate, none-hover 0.1s 5.5s forwards;
  transition: background-color 0.1s ease, border-color 0s ease, box-shadow 0.1s ease, color 0.1s ease;
}

@keyframes blink {
  0% {
    opacity: 0; /* Comienza con opacidad nula */
  }
  100% {
    opacity: 1; /* Termina con opacidad total */
  }
}

@keyframes none-hover {
  to {
    background-color: var(--color-black-redbull);
    border-color: var(--color-red-ferrari);
    box-shadow: 0px 0px 1.5vw var(--color-red-ferrari);
    color: #fff; /* Hace que el texto sea transparente */
    animation: none;
  }
}

.overlayButton:hover {
  color: var(--color-white-greatness); /* Cambia el color del texto al hacer hover */
  background-color: var(--color-red-ferrari);
  border-color: var(--color-yellow-formula1) ;
  box-shadow: 0px 0px 1.5vw var(--color-yellow-formula1) ;
  animation: none; /* Anula la animación de parpadeo al pasar el cursor */
}


/* Media query para pantallas pequeñas */
@media (max-width: 768px) {
  .overlayButton {
    font-size: 2.4vw; /* Tamaño de fuente más grande para pantallas pequeñas */
  }
}
