:root {
  --color-black-redbull: #000000;
  --color-white-greatness: #FFFFFF;
  --color-white-glory: antiquewhite;
}

@font-face {
  font-family: 'Metropolis Thin Italic';
  src: url('../../assets/fonts/Metropolis-ThinItalic.otf') format('opentype');
}

@font-face {
  font-family: 'Metropolis Thin';
  src: url('../../assets/fonts/Metropolis-Thin.otf') format('opentype');
}

body {
  background-color: black;
}

.bodyContainer {
  display: flex;
  justify-content: center;
  align-items: center; 
  width: 80%;
  width: auto;
  z-index: 0;
  margin-top: 0%;
}

.logoContainer {
  font-family: 'Metropolis Thin', sans-serif;
  width: 17vw;
  height: auto;
  padding: 0px;
  top: 3vh; /* Ajusta la distancia desde la parte superior de la página */
  left: 15vh; /* Centra horizontalmente el contenedor */
  transform: translateX(-50%); /* Ajusta el centrado horizontal */
  color: antiquewhite;
  font-size: 2.3em;
  text-decoration: none;
  position: absolute; /* Posiciona el contenedor de forma absoluta */
}
.logoContainer:hover {
  border-color: black;
  color: antiquewhite;
  }

.storyContainer {
  width: 55%;
  font-family: 'Metropolis Thin Italic', sans-serif;
  position: relative;
  right: -58%;
  transform: translateX(-50%);
  margin-top: -5vh;
  text-align: right;
}

.buttonContainer {
  float: right;
  text-align: center;
  margin-top: -12vh;
  margin-right: 7vw;
  width: 15vw;
  height: 5vh;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1vw;
  color: white;
  text-decoration: none;
  border-color: black;
}

.homeButton {
  z-index: 1000;
  height: 2.5vh;
  width: 9vw;
  margin-top: 18vh;
  margin-right: -20vh;
  color: white;
  padding: 0.4vw 0.3vw;
  font-size: 0.85vw;
  font-family: 'Roboto', sans-serif;
  border-radius: 5px;
  cursor: pointer;
  background-color: black;
  border: 1px solid white;
}

.homeButton:hover {
  color: var(--color-black-redbull);
  border-color: var(--color-black-redbull);
  box-shadow: 0px 0px 1.5vw var(--color-silver-alfaromeo);
  background-color: antiquewhite;
}

@media (max-width: 768px) {
  .overlayButton {
    font-size: 2.4vw;
  }
}
