:root {
    --color-black-redbull: #000000;      /*   var(--color-black-redbull)    */
    --color-red-ferrari: #DC0000;        /*   var(--color-red-ferrari)      */
    --color-red-redLight: #FF0000;       /*   var(--color-red-redLight)     */
    --color-orange-mclaren: #FF8700;     /*   var(--color-orange-mclaren)   */
    --color-yellow-formula1: #FFD700;    /*   var(--color-yellow-formula1)  */
    --color-blue-mercedes: #00D2BE;      /*   var(--color-blue-mercedes)    */
    --color-silver-alfaromeo: #9B8394;   /*   var(--color-silver-alfaromeo) */
    --color-white-greatness: #FFFFFF;    /*   var(--color-white-greatness)  */
  }