:root {
    --color-black-redbull: #000000;      /*   var(--color-black-redbull)    */
    --color-red-ferrari: #DC0000;        /*   var(--color-red-ferrari)      */
    --color-red-redLight: #FF0000;       /*   var(--color-red-redLight)     */
    --color-orange-mclaren: #FF8700;     /*   var(--color-orange-mclaren)   */
    --color-yellow-formula1: #FFD700;    /*   var(--color-yellow-formula1)  */
    --color-blue-mercedes: #00D2BE;      /*   var(--color-blue-mercedes)    */
    --color-silver-alfaromeo: #9B8394;   /*   var(--color-silver-alfaromeo) */
    --color-white-greatness: #FFFFFF;    /*   var(--color-white-greatness)  */
  }
  
  .detailContainer {
    display: flex;
    align-items: flex-start;
    max-width: 95%;
    height: auto;
    margin: 15px;
  }
  
  .card {
    background-color: var(--color-black-redbull);
    color: #fff;
    width: 40vw;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    float: left;
  }

  .biographyContainer {
    display: flex;
    flex-direction: column; /* Hace que los elementos se apilen uno sobre el otro */
    align-items: center; /* Alinea los elementos horizontalmente en el centro */
    align-self: flex-start; /* Alinea el contenedor en la parte superior del contenedor principal */
    max-width: 95%;
    height: auto;
    margin: 5%;
    background-color: antiquewhite;
    border-radius: 50px;
}

  
  /*.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    border-color: var(--color-silver-alfaromeo);
    box-shadow: 0px 0px 1.5vw var(--color-white-greatness)
  }*/

  .card h1 {
    margin-top: 0;
    margin-bottom: 0;
    color: var(--color-white-greatness); 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin-left: 0%;
    font-size: 2.3rem; /* Reducir el tamaño del texto según sea necesario */
  }
  
  .card h2 {
    margin-top: 0;
    margin-bottom: 0;
    color: var(--color-white-greatness); 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin-left: 0%;
  }
  .card h3 {
    margin-top: 0;
    margin-bottom: 0;
    color: var(--color-white-greatness); 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin-left: 0%;
  }
  
  .card p {
    font-size: 1em;
    color: black;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  }

  .id{
    color: grey;
    font-style: italic;
  }
  
  .card img {
    width: 50%;
    height: auto;
    margin-top: 11vh;
    margin-bottom: 1%;
    border-radius: 50px;
    transition: filter 0.3s ease-in-out;
    filter: grayscale(100%);
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    border-color: var(--color-silver-alfaromeo);
    box-shadow: 0px 0px 1.5vw var(--color-white-greatness);
}

  .card img:hover {
    filter: grayscale(50%);
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    border-color: var(--color-silver-alfaromeo);
    box-shadow: 0px 0px 1.5vw var(--color-white-greatness)
  }
  
  .robotoMonoFont {
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
  }
  
  .robotoMonoFontBolt {
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
  }

  .headerContainer{
    display: flex;
    align-items: flex-start;
    max-width: 95%;
    height: auto;
    margin-left: 5%;
  }
  
  /* Pantallas medianas */
  @media screen and (min-width: 768px) {
    .cardContainer {
      max-width: 768px; 
    }
  }
  /* Pantallas grandes */
  @media screen and (min-width: 992px) {
    .cardContainer {
      max-width: 992px;
    }
  }
  /* Pantallas extra grandes */
  @media screen and (min-width: 1200px) {
    .cardContainer {
      max-width: 1200px;
    }
  }