:root {
    --color-black-redbull: #000000;
    --color-silver-alfaromeo: #9B8394;
    --color-white-greatness: #FFFFFF;
  }

  @font-face {
    font-family: 'Metropolis Regular';
    src: url('../../assets/fonts/Metropolis-Regular.otf') format('opentype');
  }
  
  @font-face {
    font-family: 'Metropolis SemiBold';
    src: url('../../assets/fonts/Metropolis-SemiBold.otf') format('opentype');
  }
  
  @font-face {
    font-family: 'Metropolis Light';
    src: url('../../assets/fonts/Metropolis-Light.otf') format('opentype');
  }
  
  @font-face {
    font-family: 'Metropolis Light Italic';
    src: url('../../assets/fonts/Metropolis-LightItalic.otf') format('opentype');
  }
  
  body {
    font-family: 'Metropolis Light', sans-serif;
  }
  
  .detailContainer {
    display: flex;
    margin-top: 3%;
    flex-direction: column;
    align-items: flex-start;
    max-width: 95%;
    height: auto;
    overflow-y: auto;
}


.card {
    background-color: var(--color-black-redbull);
    color: #fff;
    width: 50vw;
    max-width: 50%;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    float: left;
    overflow-y: auto;
 
}

.biographyContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  align-self: flex-start;
  max-width: 50vw;
  height: auto;
  margin: 5%;
  overflow-y: auto;
  text-align: justify;
}

  .card h1 {
    margin-top: 0;
    margin-bottom: 0;
    color: var(--color-white-greatness); 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin-left: 0%;
    font-size: 2.3rem;
  }
  
  .card h2 {
    margin-top: 0;
    margin-bottom: 0;
    color: var(--color-white-greatness); 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin-left: 0%;
  }
  .card h3 {
    margin-top: 0;
    margin-bottom: 0;
    color: var(--color-white-greatness); 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin-left: 0%;
    font-style: italic;
  }
  
  .card p {
    font-size: 1em;
    color: black;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  }

  .id{
    color: grey;
    font-style: italic;
  }
  
  .card img {
    width: 50%;
    height: auto;
    margin-top: 11vh;
    margin-bottom: 1%;
    border-radius: 50px;
    transition: filter 0.3s ease-in-out;
    filter: grayscale(100%);
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    border-color: var(--color-silver-alfaromeo);
    box-shadow: 0px 0px 1.5vw var(--color-white-greatness);
    animation: grayscaleTransition 2s ease-in-out forwards;
}

  .card img:hover {
    filter: grayscale(50%)!important;
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    border-color: var(--color-silver-alfaromeo);
    box-shadow: 0px 0px 1.5vw antiquewhite;
  }

  @keyframes grayscaleTransition {
    from {
        filter: grayscale(50%);
    }
    to {
        filter: grayscale(100%);
    }
}

  .teamsContainer{
    width: 70%;
    margin: 0 auto;
  }

  .descriptionContainer {
    text-align: justify;
    max-width: 100%; 
    max-height: 100%;
    overflow: scroll; 
}

.metropolisRegularFont {
  font-family: 'Metropolis Regular', sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
}

.metropolisSemiBoldFont {
  font-family: 'Metropolis SemiBold', sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
}

.metropolisLightItalicFont {
  font-family: 'Metropolis Light Italic', sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
}

  .headerContainer{
    display: flex;
    align-items: flex-start;
    max-width: 95%;
    height: auto;
    margin-left: 5%;
  }
  

  @media screen and (min-width: 768px) {
    .cardContainer {
      max-width: 768px; 
    }
  }

  @media screen and (min-width: 992px) {
    .cardContainer {
      max-width: 992px;
    }
  }

  @media screen and (min-width: 1200px) {
    .cardContainer {
      max-width: 1200px;
    }
  }