:root {
    --color-black-redbull: #000000;      /*   var(--color-black-redbull)    */
    --color-red-ferrari: #DC0000;        /*   var(--color-red-ferrari)      */
    --color-red-redLight: #FF0000;       /*   var(--color-red-redLight)     */
    --color-orange-mclaren: #FF8700;     /*   var(--color-orange-mclaren)   */
    --color-yellow-formula1: #FFD700;    /*   var(--color-yellow-formula1)  */
    --color-blue-mercedes: #00D2BE;      /*   var(--color-blue-mercedes)    */
    --color-silver-alfaromeo: #9B8394;   /*   var(--color-silver-alfaromeo) */
    --color-white-greatness: #FFFFFF;    /*   var(--color-white-greatness)  */
  }
  
  .detailContainer {
    display: flex;
    align-items: flex-start;
    max-width: 95%;
    height: auto;
    margin: 15px 15px 15px 15px;
    background-color: #9B8394;
  }
  
  .card {
    background-color: var(--color-black-redbull);
    color: #fff;
    padding: 20px;
    border-radius: 100px;
    width: 1800px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    border: 1px solid #fff;
  }
  
  .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    border-color: var(--color-silver-alfaromeo);
    box-shadow: 0px 0px 1.5vw var(--color-white-greatness)
  }

  .card h1 {
    margin-top: 10px;
    margin-bottom: 10px;
    color: var(--color-white-greatness); 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin-left: -60%;
  }
  
  .card h2 {
    margin-top: 10px;
    margin-bottom: 10px;
    color: var(--color-white-greatness); 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin-left: -60%;
  }
  .card h3 {
    margin-top: 10px;
    margin-bottom: 10px;
    color: var(--color-white-greatness); 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin-left: -60%;
  }
  
  .card p {
    font-size: 1em;
    color: var(--color-white-greatness);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  }
  
  .card img {
    width: 25%;
    max-width: 50%; /* Asegurar que la imagen no se salga de la tarjeta */
    height: auto; /* Mantener la proporción de la imagen */
    border-radius: 50px;
    margin-top: 4%;
    margin-left: -60%;
    margin-bottom: 10px;
    transition: filter 0.3s ease-in-out;
    filter: grayscale(100%);
  }
  .card img:hover {
    filter: grayscale(50%);
  }
  
  .robotoMonoFont {
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
  }
  
  .robotoMonoFontBolt {
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
  }

  .headerContainer{
    display: flex;
    align-items: flex-start;
    max-width: 95%;
    height: auto;
    margin-left: 5%;
  }
 
  

  
  
  /* Pantallas medianas */
  @media screen and (min-width: 768px) {
    .cardContainer {
      max-width: 768px; 
    }
  }
  /* Pantallas grandes */
  @media screen and (min-width: 992px) {
    .cardContainer {
      max-width: 992px;
    }
  }
  /* Pantallas extra grandes */
  @media screen and (min-width: 1200px) {
    .cardContainer {
      max-width: 1200px;
    }
  }