.card {
  background-color: #333;
  color: #fff;
  padding: 20px;
  border-radius: 10px;
  width: 100%; /* Cambiar el ancho a relativo */
  max-width: 300px; /* Establecer un ancho máximo para evitar que la tarjeta se expanda demasiado en pantallas grandes */
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card h3 {
  font-size: 1.2em;
  margin-bottom: 10px;
  color: #ffcc00; /* Amarillo */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.card p {
  font-size: 1em;
  color: #66ffeb; /* Verde */
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.card img {
  width: 100%;
  max-width: 100%; /* Asegurar que la imagen no se salga de la tarjeta */
  height: auto; /* Mantener la proporción de la imagen */
  border-radius: 5px;
  margin-bottom: 10px;
}



/*
.saturatedStyle {
  filter: saturate(150%);
}

.imageFilter {
   filter: sepia(100%);
}
.Image Filters Type:
  .blackAndWhite {
    filter: grayscale(100%);} /* Aplica el filtro de blanco y negro 
  
  .gamerFilter {
    filter: contrast(130%) brightness(90%) saturate(120%) hue-rotate(-10deg);}

  .sepiaFilter { filter: sepia(100%);}
  */


  @media screen and (min-width: 768px) {
  .card {
    margin: 0 auto; /* Centrar la tarjeta en pantallas más grandes */
  }
}
