:root {
  --color-black-redbull: #000000;      /*   var(--color-black-redbull)    */
  --color-red-ferrari: #DC0000;        /*   var(--color-red-ferrari)      */
  --color-red-redLight: #FF0000;       /*   var(--color-red-redLight)     */
  --color-orange-mclaren: #FF8700;     /*   var(--color-orange-mclaren)   */
  --color-yellow-formula1: #FFD700;    /*   var(--color-yellow-formula1)  */
  --color-blue-mercedes: #00D2BE;      /*   var(--color-blue-mercedes)    */
  --color-green-greenLight: #00FF00;   /*   var(--color-green-greenLight) */
  --color-silver-alfaromeo: #9B8394;   /*   var(--color-silver-alfaromeo) */
  --color-white-greatness: #FFFFFF;    /*   var(--color-white-greatness)  */
}

.container {
  position: relative;
  bottom: 50%;
  height: 100px;
  overflow: hidden;

  @media screen and (max-width: 768px) {
      height: 80px;
  }
}

.typewriterText {
  font-family: 'Roboto', sans-serif;
  position: absolute;
  bottom: 6%;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
  border-right: .15em solid var(--color-white-greatness);
  white-space: nowrap;
  letter-spacing: .15em;
  animation: typing 3.5s steps(30, end), blink-caret .75s step-end infinite;

  @media screen and (max-width: 768px) {
      font-size: 0.8em;
  }
}

.typewriterText .cursor {
  background-color: var(--color-black-redbull)   ;
}
.robotoMonoFont {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: italic;
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: var(--color-black-redbull)   }
}
