:root {
    --color-black-redbull: #000000;      /*   var(--color-black-redbull)    */
    --color-red-ferrari: #DC0000;        /*   var(--color-red-ferrari)      */
    --color-red-redLight: #FF0000;       /*   var(--color-red-redLight)     */
    --color-orange-mclaren: #FF8700;     /*   var(--color-orange-mclaren)   */
    --color-yellow-formula1: #FFD700;    /*   var(--color-yellow-formula1)  */
    --color-blue-mercedes: #00D2BE;      /*   var(--color-blue-mercedes)    */
    --color-silver-alfaromeo: #9B8394;   /*   var(--color-silver-alfaromeo) */
    --color-white-greatness: #FFFFFF;    /*   var(--color-white-greatness)  */
  }

  .paginationContainer {
    position: fixed;
    width: 100vw; /* Ancho de la ventana del navegador */
    height: 35px;
    top: 2%;
    left: 0; /* Fijar el lado izquierdo */
    right: 0; /* Fijar el lado derecho */
    margin-top: 5%;
    padding: 0.3%;
    z-index: 1000;
}

  
.pagination {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
    margin-left: 19%; /* Asegurar que no haya margen */
    margin-top: 0;
    padding: 0; /* Asegurar que no haya relleno */
}
  
.number {
list-style: none;
}

.overlayButton {
color: var(--color-white-greatness) ;
padding: 10px 20px;
font-size: 0.90vw;
font-family: 'Roboto', sans-serif;
border-radius: 5px;
cursor: pointer;
z-index: 1;
background-color: var(--color-black-redbull);
}

.overlayButton:hover {
color: var(--color-white-greatness);
border-color: var(--color-white-greatness); 
box-shadow: 0px 0px 1.5vw var(--color-white-greatness);
outline: none;
}

.overlayButton:focus {
    outline-color: var(--color-white-greatness); /* Cambiar el color del borde al hacer clic */
}

.overlayButton:active {
    border-color: var(--color-silver-alfaromeo);
    box-shadow: 0px 0px 1.5vw var(--color-silver-alfaromeo);
    outline: none;
}

.overlayButton:focus:not(:active) {
    outline: none; /* Elimina el borde de enfoque cuando no está activo */
}

.currentPage{
    color: var(--color-white-greatness);
    border-color: var(--color-white-greatness); 
   /* box-shadow: 0px 0px 1.5vw var(--color-white-greatness)*/
}
.currentPage:active{
    color: var(--color-white-greatness);
    border-color: var(--color-white-greatness); 
    box-shadow: 0px 0px 1.5vw var(--color-white-greatness);
    outline: none; 
}
  
@media (max-width: 480px) {
.container > a {
    width: 90%;
    min-width: unset;
}
}
  
  