:root {
  --color-black-redbull: #000000;      /*   var(--color-black-redbull)    */
  --color-red-ferrari: #DC0000;        /*   var(--color-red-ferrari)      */
  --color-red-redLight: #FF0000;       /*   var(--color-red-redLight)     */
  --color-orange-mclaren: #FF8700;     /*   var(--color-orange-mclaren)   */
  --color-yellow-formula1: #FFD700;    /*   var(--color-yellow-formula1)  */
  --color-blue-mercedes: #00D2BE;      /*   var(--color-blue-mercedes)    */
  --color-silver-alfaromeo: #9B8394;   /*   var(--color-silver-alfaromeo) */
  --color-white-greatness: #FFFFFF;    /*   var(--color-white-greatness)  */
}
.cardContainer {
  width: 63vw;
  height: 175vh;
  display: flex;
  flex-wrap: wrap;
  gap: 77.5px;
  justify-content: center; /* Alinea horizontalmente al centro */
  align-items: flex-start; /* Alinea verticalmente al principio */
  align-content: flex-start; /* Alinea el contenido verticalmente al principio */
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 25px;
  margin-left: auto;
  padding: 0 20px;
}

/* Pantallas medianas */
@media screen and (min-width: 768px) {
  .cardContainer {
    max-width: 768px; 
  }
}
/* Pantallas grandes */
@media screen and (min-width: 992px) {
  .cardContainer {
    max-width: 992px;
  }
}
/* Pantallas extra grandes */
@media screen and (min-width: 1200px) {
  .cardContainer {
    max-width: 1200px;
  }
}
