:root {
    --color-black-redbull: #000000;      /*   var(--color-black-redbull)    */
    --color-red-ferrari: #DC0000;        /*   var(--color-red-ferrari)      */
    --color-red-redLight: #FF0000;       /*   var(--color-red-redLight)     */
    --color-orange-mclaren: #FF8700;     /*   var(--color-orange-mclaren)   */
    --color-yellow-formula1: #FFD700;    /*   var(--color-yellow-formula1)  */
    --color-blue-mercedes: #00D2BE;      /*   var(--color-blue-mercedes)    */
    --color-silver-alfaromeo: #9B8394;   /*   var(--color-silver-alfaromeo) */
    --color-white-greatness: #FFFFFF;    /*   var(--color-white-greatness)  */
    }

    .headerContainer {
      position: fixed;
      z-index: 1000;
      top: 0;
      left: 0;
      width: 100%;
      background-color: black;
      padding: 10px; /* Ajusta el relleno según sea necesario */
      box-sizing: border-box; /* Incluye el relleno en el ancho y alto */
    }
    
    .logoContainer {
      position:absolute;
      width: 18vw;
      background-color: antiquewhite;
      padding: 4px;
      top: 23.5px;
      margin-left: -49%;
      color: var(--color-black-redbull);
      text-align: left;
      font-size: 2.4em;
      font-weight: lighter;
      border: 1px solid antiquewhite;
      text-decoration: none;
      color: var(--color-black-redbull);
    }

    .logoContainer:hover {
      color: var(--color-black-redbull);
      border-color: var(--color-black-redbull);
      box-shadow: 0px 0px 1.5vw var(--color-silver-alfaromeo);
      }
      

      .titleContainer {
        width: 80vw;
        height: 8.4vh;
        background-color: antiquewhite;
        font-size: 1.8em; /* Tamaño de fuente para el título de la colección */
        color: var(--color-black-redbull); /* Color de texto para el título de la colección */
        text-align: center; /* Centrar horizontalmente el texto */
        display: flex; /* Convertir el contenedor en un flex container */
        justify-content: center; /* Centrar horizontalmente el contenido */
        align-items: center; /* Centrar verticalmente el contenido */
        margin-top: 0.9%;
        margin-left: 19.5%;
        font-style: italic;
        font-weight: lighter;
      }
      

    .buttonContainer {
      float: right; /* Alinear a la derecha */
      text-align: center; /* Alinear el contenido a la derecha dentro del contenedor */
      margin-top: -64px; /* Espacio superior */
      margin-right: 110px; /* Espacio derecho */
      width: 120px;
      height: 30px;
      border-radius: 5px;
      display: flex; /* Convertir el contenedor en un flex container */
      justify-content: center; /* Centrar horizontalmente */
      align-items: center; /* Centrar verticalmente */
      font-size: 1vw;
      color: black;
      text-decoration: none;
      border-color: var(--color-black-redbull);
    }


    .homeButton {
      margin-top: -15px;
      margin-right: 0px;
      width: 900%;
      color: var(--color-black-redbull);
      padding: 6px 8px;
      font-size: 0.90vw;
      font-family: 'Roboto', sans-serif;
      border-radius: 5px;
      cursor: pointer;
      background-color: antiquewhite;
      border: 1px solid var(--color-black-redbull);
    }
    
    .homeButton:hover {
      color: var(--color-black-redbull);
      border-color: var(--color-black-redbull);
      box-shadow: 0px 0px 1.5vw var(--color-silver-alfaromeo);
    }
    